<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coco"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Users_list"
            android:exported="false" />
        <activity
            android:name=".Disease_Update"
            android:exported="false" />
        <activity
            android:name=".Users_Add"
            android:exported="true" />
        <activity
            android:name=".Diseases_Add"
            android:exported="true" />
        <activity
            android:name=".User_Edit"
            android:exported="true" />
        <activity
            android:name=".Prediction"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Admin_Home"
            android:exported="true" />
        <activity
            android:name=".Navigation"
            android:exported="true" />
        <activity
            android:name=".Diseases_view"
            android:exported="true" />
        <activity
            android:name=".Diseases_list"
            android:exported="true" />
        <activity
            android:name=".User_Account"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>